.header {
    height: 54px; 
    width: 100%;
    background: #0085F9;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 32px;
        margin-left: 15px;
    }
    .logout {
        border-radius: 5px;
        border: none;
        width: 75px;
        height: 38px;
        margin-right: 16px;
    }
}